{% extends "base.html" %}

{% block content %}
    <div>
        <h1>My Projects</h1>
        {% if projects %}
            <table>
                <thead>
                    <th>Name</th>
                    <th>Number of tasks</th>
                </thead>
                <tbody>
                    {% for item in projects %}
                        <tr>
                            <td>
                                <a href="{% url 'show_project' item.id %}">{{ item.name }}</a>
                            </td>
                            <td>{{ item.tasks.all|length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>You are not assigned to any projects</p>
        {% endif %}
    </div>
    <div>
        <button>
            <a href="{% url 'create_project' %}">Create a new project</a>
        </button>
    </div>
{% endblock content %}
